<div class="body-container">
    <!-- REVOLUTION SLIDER -->
    <section id="home-section">
        <div class="slider fullwidthbanner-container roundedcorners">
            <div class="fullscreenbanner tp-simpleresponsive">
                <ul class="hide">
                    <!-- SLIDE  -->
                    <li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">

                        <img src="img/1x1.png" data-lazyload="img/residential.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat"
                        />

                        <div class="tp-caption b-cap-custom b-cap-custom-heading very_large_text lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-100" data-speed="600" data-start="800" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">Quote For Commercial
                        </div>

                        <div class="tp-caption b-cap-custom b-cap-custom-p medium_light_white lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="10" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">Happiness is an accident of nature,<br/>a beautiful and flawless aberration.
                        </div>

                        <div class="tp-caption b-cap-custom b-cap-custom-p medium_light_white lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="150" data-speed="600" data-start="1000" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">
                            <a href="#contact-form-section" du-smooth-scroll du-scrollspy offset="68" ng-click="contactFormShow = contactFormShow ? false : true"
                                class="banner-larg-btn" title="Quote">Submit Quote</a>
                        </div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">

                        <img src="img/1x1.png" data-lazyload="img/commercial.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat"
                        />

                        <div class="tp-caption b-cap-custom b-cap-custom-heading very_large_text lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="-100" data-speed="600" data-start="800" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">Quote For Residential
                        </div>

                        <div class="tp-caption b-cap-custom b-cap-custom-p medium_light_white lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="10" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">Happiness is an accident of nature,<br/>a beautiful and flawless aberration.
                        </div>

                        <div class="tp-caption b-cap-custom b-cap-custom-p medium_light_white lfb ltt tp-resizeme" data-x="center" data-hoffset="0"
                            data-y="center" data-voffset="150" data-speed="600" data-start="1000" data-easing="Power4.easeOut"
                            data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="500"
                            data-endeasing="Power4.easeIn">
                            <a href="#contact-form-section" du-smooth-scroll du-scrollspy offset="68" class="banner-larg-btn" title="Quote">Submit Quote</a>
                        </div>

                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    <!-- /REVOLUTION SLIDER -->

    <section id="aboutus-section">
        <div class="parallax parallax-aboutUs parallax-1" style="background-image:url(img/o1.jpg);">
            <div class="parallax-content">
                <div class="row">
                    <div class="col-sm-6">&nbsp;</div>
                    <div class="col-sm-6 aboutUs-cotnent">
                        <h1>Who we are</h1>
                        <p class="paragraph-text-larg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p class="paragraph-text-larg">remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                            PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- parallax -->
    <section id="services-section">
        <div class="parallax service-items parallax-1" style="background-image:url(img/o3.jpg);">
            <div class="parallax-content">
                <div class="row">
                    <div class="col-md-4 service-item  appear-animation" data-animation="fadeInRight">
                        <h1>COMMERCIAL</h1>
                        <h2>INTERIOR DESIGN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                            nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna semulla
                            facilisi.
                        </p>
                    </div>
                    <div class="col-md-4 service-item service-item-residential appear-animation" data-animation="fadeInRight">
                        <h1>RESIDENTIAL</h1>
                        <h2>INTERIOR DESIGN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                            nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna semulla
                            facilisi.
                        </p>
                    </div>
                    <div class="col-md-4 service-item appear-animation" data-animation="fadeInRight">
                        <h1>RENOVATION</h1>
                        <h2>Support</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida ve Aliquam accumsan commodo
                            nunc accumsan sollicitudin. Cras molestie est quis miit inermentum nulla. Donec in urna semulla
                            facilisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /parallax -->

    <section id="project-section">
        <div class="section-title">
            <h1 class="primary-color">OUR LATEST PROJECTS</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
        </div> 
        <slick class="slider" settings="projectSetting" ng-if="projectsLoaded">
            <div class="project-item" ng-repeat="project in projects">
                <div class="project-mg"><img src="{{project.imgUrl}}" alt=""></div>
                <div class="project-content">
                    <h2>{{project.name}}</h2>
                    <ul>
                        <li>
                            <span class="project-icon li li-present"></span>
                            <div class="p-line-text">
                                <h6>Work Done</h6>
                                <p>{{project.workStatus}}</p>
                            </div>
                        </li>
                        <li>
                            <span class="project-icon li li-calendar"></span>
                            <div class="p-line-text">
                                <h6>Duration</h6>
                                <p>{{project.duration}}</p>
                            </div>
                        </li>
                        <li>
                            <span class="project-icon li li-trophy"></span>
                            <div class="p-line-text">
                                <h6>Cost</h6>
                                <p>${{project.cost}}</p>
                            </div>
                        </li>
                    </ul>
                    <a ui-sref="{{project.linkDetails}}" class="btn btn-default btn-on-green">View Details</a>
                </div>
            </div>
        </slick> 
    </section>


<section id="catalogue-section" class="catalogue-items">
    <div class="section-title">
        <h1 class="primary-color">CATALOGUE</h1>
        <h3>Below all of our Catalogue </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <slick class="slider" settings="slickConfig3" ng-if="slickConfig3Loaded">
                    <div class="project-item" ng-repeat="catalogue in catalogues">
                        <div class="project-mg"><img src="{{catalogue.imgUrl}}" alt=""></div>
                        <div class="project-content catalogue-content">
                            <a href=""><span class="li li-magnifier-add"></span>{{ catalogue.name }}</a>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
</section>

<section id="contact-form-section" class="order-form">
    <div class="green-transparent padding-50-0">
        <div class="container">
            <div class="row order-form-Items" ng-include="'../contact-tpl.html'"></div>
        </div>
    </div>
</section>
</div>